body {
  background-color: #f5f5f5 !important;
  font-family: "Roboto", sans-serif !important;
  color: #0e1313 !important;
}

input,
textarea,
select {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.btn,
.btn-close {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus,
.css-t3ipsp-control {
  border: 2px solid teal !important;
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}