input,
textarea,
select {
  text-decoration: none !important;
  outline: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.btn,
.btn-close {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
  border-color: teal !important;
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}